:root {
    --SMC-first-color: rgb(250, 176, 214);
    --SMC-first-transparency: rgba(250, 176, 214, 0.8);
    --SMC-second-color: rgb(128, 208, 205);
    --SMC-second-transparency: rgba(128, 208, 205, 0.8);
    --SMC-contrast-color: rgb(255, 255, 255);
    --SMC-headings-font: 'Comic Relief';
    --SMC-text-font: 'Delius';
    --SMC-backup-font: sans-serif;
    --some-border: 3px solid gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--SMC-text-font), var(--SMC-backup-font);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header,
footer,
main {
    max-width: 640px;
    text-align: center;
    /*border: 1px solid black;*/
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr auto;
}

.logo {
    grid-column: 1/2;
}

h1 {
    grid-column: 2/3;
}

nav {
    grid-column: 1/4;
    grid-row: 2/3;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
#first {
    background-color: var(--SMC-first-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--SMC-headings-font);
    padding: 1rem;
}

.navigation,
.social {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--SMC-second-color);
}

.navigation a {
    display: none;
}

.social a {
    display: block;
}

.navigation a,
.social a {
    text-decoration: none;
    text-align: center;
    /*border: 1px solid black;*/
    color: black;
    padding: 1rem;
}

.navigation a:hover,
.social a:hover {
    background-color: var(--SMC-contrast-color);
    font-weight: bolder;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menuCatalogue {
    position: relative;
    bottom: 3.5rem;
    left: 13rem;
}

#menu,
#menuCatalogue {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: 0;
    background: none;
}

#menuCatalogue img {
    padding: 0;
}

#menu::before {
    content: "☰";
}

#menu.open::before,
#menuCatalogue.open::before {
    content: "✖️";
}

#menuCatalogue.open img {
    display: none;
}

.open a {
    display: block;
}

main,
#contrast {
    background-color: var(--SMC-contrast-color);
}

main {
    text-align: center;
}

section {
    padding: 1rem 0 1rem 0;
}

.bulletin h4 {
    background-color: var(--SMC-second-color);
}

p,
img {
    padding: 1rem;
}

footer {
    text-align: center;
}

footer p {
    padding: 0;
    background-color: var(--SMC-first-color);
}

#first,
#second,
#contrast {
    border: var(--some-border);
    padding: 1rem;
    margin: 1rem;
}

#second,
p,
.typo {
    background-color: var(--SMC-second-color);
}

.wire {
    max-width: 100%;
}

.form h3 {
    border: var(--some-border);
    text-align: center;
}

.form {
    background-color: var(--SMC-second-color);
    text-align: left;
    padding: 1rem;
}

.form input:required {
    border-bottom: solid 6px red;
}

.form input:required:valid {
    border-bottom: solid 6px green;
}

fieldset {
    padding: 1rem;
}

label {
    display: block
}

form input[type="text"],
form input[type="tel"],
form input[type="email"] {
    border-radius: 6px;
    height: 50px;
    width: 100%;
    font-size: large;
    margin: 0 0 1rem 0;
    border: var(--some-border);
}

form input[type="radio"] {
    text-align: left;
    padding-left: 1rem;
}

#radio label {
    height: 50px;
    font-size: large;
}

#radio {
    padding: 0 1rem;
}

form label[for="message"] {
    margin: 0;
}

textarea {
    border-radius: 6px;
    width: 100%;
    font-size: large;
    padding: 0.5rem;
    border: var(--some-border);
}

legend {
    font-weight: bold;
    padding: 1rem 0 1rem 0;
}

.template h4 {
    border: var(--some-border);
    display: block;
    text-align: center;
    margin: 0 0 1rem 0;
    background-color: var(--SMC-first-color);
}

#submit {
    margin: 1rem 0 0 0;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: large;
    font-weight: bold;
    border: var(--some-border);
    background-color: rgb(251, 196, 93);
}

#products {
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
    background-color: var(--SMC-contrast-color);
}

.template {
    background-color: var(--SMC-second-color);
}

@media screen and (min-width: 640px) {

    header,
    footer,
    main {
        max-width: 100%;
        /*border: 1px solid black;*/
        
    }

    #menu,
    #menuCatalogue{
        display: none;
        /* hide hamburger button */
    }

    .navigation,
    .social {
        flex-direction: row;
        align-content: center;
    }

    .navigation a,
    .social a {
        display: block;
        flex: 1 1 100%;
    }

    li {
        margin: auto;
        width: 100%;
    }

    .hero img {
        width: 1000px;
        display: block;
        margin: auto;
    }

    #welcome {
        position: absolute;
        width: 500px;
        top: 25rem;
        left: 3rem;
    }

    #welcome h3 {
        background-color: var(--SMC-first-transparency);
    }

    #welcome p {
        background-color: var(--SMC-second-transparency);
    }

    form {
        max-width: 700px;
    }

    /*input,
    textarea {
        max-width: 600px;
        display: block;
        font-size: medium;
    }

    input {
        height: 30px;
    }

    #radio {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
    }

    #radio label,
    #radio input {
        align-self: center;
        justify-self: center;
        margin: 1rem;
    }

    #radio label {
        border: none;
        background-color: var(--SMC-second-color);
    }*/

    #products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 50px;
        text-align: center;
        margin: 1rem;
    }
    
    .template {
        display: block;
        text-align: center;
        margin: auto;
        height: 500px;
        width: 220px;
        padding: 0.5rem;
    }

    .template img {
        width: 100%;
    }
}