:root {
    --SMC-first-color: rgb(250, 176, 214);
    --SMC-first-transparency: rgba(250, 176, 214, 0.8);
    --SMC-second-color: rgb(128, 208, 205);
    --SMC-second-transparency: rgba(128, 208, 205, 0.8);
    --SMC-contrast-color: rgb(255, 255, 255);
    --SMC-headings-font: 'Comic Relief';
    --SMC-text-font: 'Delius';
    --SMC-backup-font: sans-serif;
    --some-border: 3px solid gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--SMC-text-font), var(--SMC-backup-font);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header,
footer,
main {
    max-width: 640px;
    text-align: center;
    /*border: 1px solid black;*/
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr auto;
}

.logo {
    grid-column: 1/2;
}

h1 {
    grid-column: 2/3;
}

nav {
    grid-column: 1/4;
    grid-row: 2/3;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
footer,
#first {
    background-color: var(--SMC-first-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--SMC-headings-font);
    padding: 1rem;
}

.navigation,
.social {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--SMC-second-color);
}

.navigation a {
    display: none;
}

.social a {
    display: block;
}

.navigation a,
.social a {
    text-decoration: none;
    text-align: center;
    /*border: 1px solid black;*/
    color: black;
    padding: 1rem;
}

.navigation a:hover,
.social a:hover {
    background-color: var(--SMC-contrast-color);
    font-weight: bolder;
}

#menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: 0;
    background: none;

}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

.open a {
    display: block;
}

main,
#contrast {
    background-color: var(--SMC-contrast-color);
}

main {
    text-align: center;
}

section {
    padding: 1rem 0 1rem 0;
}

.bulletin h4 {
    background-color: var(--SMC-second-color);
}

p,
img {
    padding: 1rem;
}

footer {
    text-align: center;
}

footer p {
    padding: 0;
    background-color: var(--SMC-first-color);
}

#first,
#second,
#contrast {
    border: var(--some-border);
    padding: 1rem;
    margin: 1rem;
}

#second,
p,
.typo {
    background-color: var(--SMC-second-color);
}

.wire {
    max-width: 100%;
}

@media screen and (min-width: 640px) {

    header,
    footer,
    main {
        max-width: 100%;
        /*border: 1px solid black;*/
        
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation,
    .social {
        flex-direction: row;
        align-content: center;
    }

    .navigation a,
    .social a {
        display: block;
        flex: 1 1 100%;
    }

    li {
        margin: auto;
        width: 100%;
    }

    .hero img {
        width: 1000px;
        display: block;
        margin: auto;
    }

    #welcome {
        position: absolute;
        width: 500px;
        top: 25rem;
        left: 3rem;
    }

    #welcome h3 {
        background-color: var(--SMC-first-transparency);
    }

    #welcome p {
        background-color: var(--SMC-second-transparency);
    }
}