/*Name: Esteban Rubén Mangas Calva
09/18/2025
Media Quearies*/
@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}